{% extends 'pages/base.html.twig' %}

{% block title %}
	My Portfolio - Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}

{% block body%}
	<h1>Veuillez utiliser le formulaire ci-dessous pour vous créer un compte</h1>

	<section class="flex justify-center p-5">
		<div class="shadow-xl p-16">
			<div class="flex flex-col">
				{{ form_start(form) }}
				<div class="mb-4">
					<div class="mb-2 text-xl">
						{{ form_label(form.email) }}
					</div>
					{{ form_widget(form.email, {attr: {class: 'p-2 outline-0 text-[2rem]'}}) }}
					{{ form_errors(form.email) }}

				</div>
				<div class="mb-4">
					<div class="mb-2 text-xl">
						{{ form_label(form.pseudo) }}
					</div>
					{{ form_widget(form.pseudo, {attr: {class: 'p-2 outline-0 text-[2rem]'}}) }}
					{{ form_errors(form.pseudo) }}
				</div>

				<div class="mb-4">
					<div class="flex flex-col">

						<div class="mb-2 text-xl">
							{{ form_label(form.password.first) }}
						</div>
						{{ form_widget(form.password.first, {attr: {class: 'p-2 outline-0 text-[2rem]'}}) }}

						<div class="mb-2 text-xl">
							{{ form_label(form.password.second) }}
						</div>
						{{ form_widget(form.password.second, {attr: {class: 'p-2 outline-0 text-[2rem]'}}) }}

						{{ form_errors(form.password) }}
					</div>
				</div>

				<div class="border-2 border-gray-700 p-2 rounded-xl text-center">
					{{ form_widget(form.submit) }}
				</div>
				<div></div>

				{{ form_end(form) }}
			</div>

			{% if message is defined %}

				{{ message }}

			{% endif %}
		</div>
	</section>
{% endblock %}
